.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img{
    width: 15em;
}

.types{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

h1{
    text-transform: capitalize;
    font-size: x-large;
    margin: 2% 0%;
}

.wh{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 2%;
}