#modal{
    display:none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    min-height: 60%;
    max-height: 90%;
    border-radius: 20px;
    position: fixed;
    background-color: #DEE5ED;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1% 2%;
}

.top-info{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 90%;
    margin-top: 4%;
    padding: 0 5%;
}
/*TODO: ALIGN ID WITH CLOSE BUTTON*/
.close{
    height: 1.5em;
    width: 1.5em;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 450px;
    background-color: #DEE5ED;
    margin: 2% 0%;
    border-radius: 20px;
}

.id{
    align-self: flex-end;
    margin: 5% 10% 0% 0%;
}

#modal-container>.pokemon-img{
    width: 12rem;
    margin: 2% 0;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 5%;
}

.types{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 10%;

}

.type{
    background-color: rgb(0, 119, 36);
    color: white;
    text-transform: capitalize;
    padding: 1% 5%;
    border-radius: 20px;
    height: 2em;
    line-height: 1.6em;
}

#modal-container>h1{
    text-transform: capitalize;
    font-size: large;
    margin: 2% 0%;
    color: black;
}

.wh{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.height{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number{
    font-size: 1.2em;
    font-weight: bold;
}

.stats{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    justify-items: start;
    align-items: center;
    width: 70%;
    margin: 2% 0% 10% 10%;
    gap: 2%;
}


.bar{
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    padding: 0.5% 0%;
}

.data {
    height: 100%;
    border-radius: 20px;
    margin-left: 1%;
}

.modal-button{
    color: var(--alt-text-color);
    background-color: var(--primary-color);
    font-weight: bold;
    padding: 2% 5%;
    border: none;
    border-radius: 5px;
    margin: 0;
    align-self: center;
}

.hp{
    background-color: red;
}

.atk{
    background-color: rgb(233, 132, 0);
}
.def{
    background-color: rgb(0, 204, 255);
}
.spd{
    background-color: rgb(99, 160, 168);
}
.exp{
    background-color: rgb(0, 128, 0);
}

/*------------Responsive-------------*/

@media only screen and (max-width:576px){
    .stat-number{
        font-size: 2em;
    
    }
}